{
  "mastodon": {
    "instance": "planet.moe",
    "client_key": "clientKey",
    "client_secret": "clientSecret",
    "access_token": "accessToken",
    "owner": "@bombwhale@planet.moe",
    "insert_emoji": true,
    "visibility": "unlisted"
  },
  "twitter": {
    "account": "imasml_theater",
	"tweet_fetch_limit": 10,
    "tweet_refresh_sec": 10,
    "profile_refresh_hour": 24
  },
  "sql": {
	  "filename": "posts.sql"
  }

}
