{
  "mastodon": {
    "instance": "fedimas.com",
    "client_key": "clientKey",
    "client_secret": "clientSecret",
    "access_token": "accessToken",
    "owner": "@gorae@fedimas.com",
    "insert_emoji": true,
    "visibility": "unlisted"
  },
  "twitter": {
    "client_id": "clientID",
    "client_secret": "clientSecret",
    "account": "account",
    "refresh_sec": 10
  }
}