[Service]
User=username
Group=usergroup
ExecStart=/home/username/bots/ttom-jp/ttom
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=MLTDJP
WorkingDirectory=/home/username/bots/ttom-jp

Restart=always
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target