[Service]
User=username
Group=usergroup
ExecStart=/home/username/bots/ttom/ttom
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=MLTD
WorkingDirectory=/home/username/bots/ttom

Restart=always
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target